.parentBlock{
    background-color: rgb(203, 237, 203) ;
    width: fit-content;
    display: flex;
    gap: 20px;
    

}
.mainBlock{
    border: 1px solid rgb(100, 142, 45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    color: rgb(188, 5, 5);
    
}
img{
    height: 350px;
    width: 350px;
}