.navBlock{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(23, 7, 7);
    color: white;
}
a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 20px;
    margin-left: 10px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
#input{
    height: 45px;
    width: 350px;
    border: 2px solid rgb(61, 61, 165);
    background-color: rgb(23, 7, 7);
    font-size: large;
    border-radius: 10px;
    margin-right: 50px;
    

}
img{
    height: 30px;
    width: 50px;
    border-radius: 50%;
}
h1{
    font-size: 25px;
    margin-left: 1px;
}