.nav{
    background-color: rgb(96, 65, 65);
    border: 10px solid black;
    height: 75px;

}
 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    margin: 20px;
    text-decoration: none;
    color: rgb(12, 0, 0);

}
img{
    height: 70px;
    width: 120px;
}